* {
  font-family: "Stack Sans Headline", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(70, 24, 172);
}

.parent-container {
  max-width: calc(100vw - 800px);
  margin: 0 auto;
  padding-top: 10px;
}

@media (max-width: 1600px) {
  .parent-container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .parent-container {
    max-width: 1000px;
  }
}

@media (max-width: 768px) {
  .parent-container {
    max-width: 100%;
    padding: 10px 16px 0;
  }
}
